build/
build*/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
.vscode/
.idea/
xcode*
.DS_Store
*.swp
*.swo
*~
*.pyc
Testing/
bin/
*.csv
*.bin
*.txt
*.jpg
include/